<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to IdeaScreener.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to IdeaScreener.com<br>
    </p>
    <p>Thank you, and have a nice day!</p>
  </body>
</html>
